<div id="messages" data-sender-id="<%= current_user.slug %>"
  data-sender="<%= current_user.id %>"
  data-conversation-id="<%= message.conversation_id %>">
  <%= render conversation.messages.reject(&:new_record?), event: event %>
</div>

<%= form_for [conversation, message], method: :post, remote: true do |f| %>
  <div>
    <%= hidden_field_tag "event_id", event.slug %>
    <%= f.text_field :content, autofocus: true, placeholder: t(".your_message"),
      autocomplete: :off, class: "form-control" %>
  </div>

  <%= f.submit t(".send"), hidden:true, class: "btn btn-primary pull-right" %>
<% end %>
