<div id="messages">
  <% conversation.messages.reject(&:new_record?).each do |message| %>
    <div class="media-body">
      <h5 class="media-heading"><%= message.user.name %>
        <small class="text-muted"><%= format_message_time message %></small>
      </h5>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

<%= form_for [conversation, message], method: :post, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :content, autofocus: true, placeholder: t(".your_message"),
      class: "form-control" %>
  </div>

  <%= f.submit t(".send"), class: "btn btn-primary pull-right" %>
<% end %>
