<div class="container">
  <div class="content_detail">
    <h3><%= t ".name" %>: <%= @partner.name %></h3><br/>
    <h4><%= t ".address" %>: <%= @partner.address %></h4><br/>
    <h4><%= t ".country" %>: <%= @partner.country %></h4><br/>
  </div>
</div>
