<div id="enroll_request">
  <% if event.leader  == current_user %>
    <%= link_to user_enroll_event_path event do %>
      <div class="btn btn-success button-text"><%= t ".assigned" %></div>
    <% end %>
  <% elsif can? :create, UserEnrollEvent %>
    <%= hidden_field_tag :event_id, event.slug %>

    <% if current_user.enrolls.empty? %>
      <%= button_tag t(".enroll"), class: "btn button-text-default",
        id: "enroll_button" %>
    <% elsif current_user.enrolls.last == event %>
      <%= hidden_field_tag :user_id, current_user.slug %>
      <%= button_tag t(".enrolling"), class: "button button-text",
        id: "unenroll_button" %>
    <% end %>
  <% end %>
</div>
