<div class="content_detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="course_container">
          <h2><%= @event.name %></h2>
          <div class="course_info">
            <div class="course_info_item w-30">
              <h5 class="course_info_header"><%= t ".leader" %>:</h5>
              <%= @event.leader.name %>
            </div>
            <div class="course_info_item w-40">
              <h5 class="course_info_header"><%= t ".partner" %>:</h5>
              <%= @event.partner.name %>
            </div>
            <div class="course_info_item w-30">
              <h5 class="course_info_header"><%= t ".major" %>:</h5>
              <%= event_major_name @event %>
            </div>
          </div>
          <%= image_tag(@event.thumbnail.file_url,
            class: "course_detail_thumbnail") if @event.thumbnail %>
          <div class="mt-20">
            <div class="tab button button-text"><%= t ".description" %></div>
          </div>
          <div class="tab_panels mt-20">
            <div class="tab_panel active"><%= @event.description.html_safe %></div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="course_sidebar">
          <div class="course_sidebar_section">
            <h3><%= t ".course_features" %></h3>
            <div class="course_features">
              <h5><%= number_to_vnd @event.price %></h5>
              <div class="course_features_list">
                <div class="course_feature">
                  <div><%= fa_icon "calendar" %> <%= t ".date" %></div>
                  <%= event_date @event %>
                </div>
                <div class="course_feature">
                  <div><%= fa_icon "calendar-o" %> <%= t ".semester" %></div>
                  <%= @event.semester %>
                </div>
                <div class="course_feature">
                  <div><%= fa_icon "map-o" %> <%= t ".country" %></div>
                  <%= @event.partner.country %>
                </div>
                <div class="course_feature">
                  <div><%= fa_icon "user-o" %> <%= t ".number_of_participants" %></div>
                  <%= event_participants @event %>
                </div>
                <div class="mt-20">
                  <%= render "enroll_request", event: @event %>
                </div>
              </div>
            </div>
          </div>

          <div class="course_sidebar_section">
            <h3><%= t ".leader" %></h3>
            <div class="course_features">
              <div class="course_feature justify-content-start">
                <%= user_image_for @event.leader, "user_image" %>
                <div class="user_title">
                  <h5 class="no-margin"><%= @event.leader.name %></h5>
                </div>
              </div>
            </div>
          </div>

          <div class="course_sidebar_section">
            <h3><%= t ".latest" %></h3>
            <div class="course_features">
              <%= render partial: "latest_event", as: :latest_event,
                collection: Event.latest.take(Settings.model.event.per_page) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
