<div class="content_detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="course_container">
          <h2><%= @event.name %></h2>
          <div class="course_info">
            <div class="course_info_item w-30">
              <h5 class="course_info_header"><%= t ".leader" %>:</h5>
              <%= @event.leaders.first.name %>
            </div>
            <div class="course_info_item w-40">
              <h5 class="course_info_header"><%= t ".partner" %>:</h5>
              <%= @event.partner.name %>
            </div>
            <div class="course_info_item w-30">
              <h5 class="course_info_header"><%= t ".major" %>:</h5>
              <%= event_major_name @event %>
            </div>
          </div>
          <div class="course_detail_thumbnail">
            <%= image_tag(@event.thumbnail.file_url) if @event.thumbnail %>
          </div>
          <div class="mt-20">
            <div class="tab button button-text"><%= t ".description" %></div>
          </div>
          <div class="tab_panels mt-20">
            <div class="tab_panel active"><%= @event.description %></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="course_sidebar">
          <div class="course_sidebar_section">
            <h3><%= t ".course_features" %></h3>
            <div class="course_features">
              <h5><%= number_to_vnd @event.price %></h5>
              <div class="course_features_list">
                <div class="course_feature">
                  <div><%= fa_icon "calendar" %> <%= t ".date" %></div>
                  <%= event_date @event %>
                </div>
                <div class="course_feature">
                  <div><%= fa_icon "calendar-o" %> <%= t ".semester" %></div>
                  <%= @event.semester %>
                </div>
                <div class="course_feature">
                  <div><%= fa_icon "map-o" %> <%= t ".country" %></div>
                  <%= @event.partner.country %>
                </div>
                <div class="course_feature">
                  <div><%= fa_icon "user-o" %> <%= t ".number_of_participants" %></div>
                  <%= event_participants @event %>
                </div>
                <div class="mt-20">
                  <div id="enroll_button">
                    <%= render "enroll_button", current_user: current_user, event: @event %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="course_sidebar_section">
            <h3><%= t ".leader" %></h3>
            <div class="course_features">
              <div class="course_feature justify_content_end">
                <div class="user_image">
                  <%= fa_icon "image" %>
                </div>
                <div class="user_title">
                  <%= link_to "#" do %>
                    <h5 class="no-margin"><%= @event.leaders.first.name %></h5>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="course_sidebar_section">
            <h3><%= t ".latest" %></h3>
            <div class="course_features">
              <% 5.times do %>
                <div class="row no-margin mb-15">
                  <div class="col-md-5 no-padding">
                    <div class="course_detail_thumbnail no-margin"></div>
                  </div>
                  <div class="col-md-7 pr-0">
                    <div class="course_title no-padding h-55">
                      <%= rescue_title @event.name %></div>
                    <div class="course_price no-padding">
                      <%= number_to_vnd @event.price %></div>
                    <div class="course_date no-padding">
                      <div class="date">
                        <%= fa_icon "calendar" %>
                        <%= event_date @event %>
                      </div>
                      <div class="participants">
                        <%= fa_icon "user-o" %>
                        <%= event_participants @event %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
