<% unless user_counter.zero? %>
  <hr class="no-margin" />
<% end %>

<%= label_tag user.slug, class: "no-margin cursor_pointer d-flex flex-nowrap
  participant justify-content-between" do %>
  <%= form_tag conversations_path(sender_id: current_user, receiver_id: user),
    remote: true, class: "p-10" do  %>
    <div class="course_feature no-margin justify-content-start">
      <%= user_image_for user, "user_image_small" %>
      <div class="user_title"><%= user.name %></div>
    </div>
    <%= hidden_field_tag "event_id", user_event.slug %>
    <%= button_tag type: :submit, hidden: true, id: user.slug %>
  <% end %>

  <% unless current_user.Student? %>
    <% enroll_status = user.check_enroll_status user_event %>
    <%= hidden_field_tag "user_id", user.slug %>
    <% if enroll_status == UserEnrollEvent.statuses.keys[1] %>
      <%= form_tag user_enroll_event_path(event_id: user_event), method: :delete,
        remote: true, class: "p-10 d-flex align-items-center" do  %>
        <%= hidden_field_tag "user_enroll_event[status]", UserEnrollEvent.statuses.keys[0] %>
        <%= button_tag t(".unenroll"), class: "btn button-text-default",
          type: :submit %>
      <% end %>
    <% else %>
      <%= form_tag user_enroll_event_path(event_id: user_event), method: :patch,
        remote: true, class: "p-10 d-flex align-items-center" do  %>
        <%= hidden_field_tag "user_enroll_event[status]", UserEnrollEvent.statuses.keys[1] %>
        <%= button_tag t(".enroll"), class: "button button-text",
          type: :submit %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
