<%= label_tag user.slug, class: "no-margin display_space_between participant",
  id: "participant_#{user.id}" do %>
  <%= hidden_field_tag "participant_id", user.id %>
  <%= form_tag conversations_path(sender_id: sender, receiver_id: user),
    remote: true, class: "p-10" do  %>
    <div class="course_feature no-margin justify-content-start">
      <div class="mr-15"><%= req_verified? is_enrolled?(user, user_event) %></div>
      <%= user_image_for user, "user_image_x_small" %>
      <div class="user_title"><%= user.name %></div>
    </div>
    <%= hidden_field_tag "event_slug", user_event.slug %>
    <%= button_tag "", type: :submit, hidden: true, id: user.slug %>
  <% end %>

  <div class="three_dots_container order-0 participant_detail">
    <div class="three_dots_option" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false"></div>
    <div class="dropdown-menu">
      <%= hidden_field_tag "user_id", user.slug %>
      <% if is_enrolled? user, user_event %>
        <%= hidden_field_tag "user_enroll_event[status]",
          UserEnrollEvent.statuses.keys[0] %>
        <%= button_tag t(".unenroll"), class: "unenroll_participants",
          id: "unenroll_participant_#{user.id}", hidden: true %>
        <%= label_tag "unenroll_participant_#{user.id}", t(".unenroll"),
          class: "dropdown-item no-margin" %>
        <%= button_tag t(".remove"), class: "remove_participants",
          id: "remove_participant_#{user.id}", hidden: true %>
        <%= label_tag "remove_participant_#{user.id}", t(".remove"),
          class: "dropdown-item no-margin" %>
      <% else %>
        <%= hidden_field_tag "user_enroll_event[status]",
          UserEnrollEvent.statuses.keys[1] %>
        <%= button_tag t(".add"), class: "add_participants",
          id: "add_participant_#{user.id}", hidden: true %>
        <%= label_tag "add_participant_#{user.id}", t(".add"),
          class: "dropdown-item no-margin" %>
      <% end %>
    </div>
  </div>
<% end %>

<hr class="no-margin" />
