<div class="border_bottom py-20">
  <% if can? :check_requirement, requirement %>
    <%= form_for requirement, url: user_event_requirement_path(requirement),
      method: :put do |f| %>
      <%= hidden_field_tag "user_event_requirement[verified]",
        !requirement.verified? %>
      <%= f.button verify_req requirement %>
    <% end %>
  <% end %>

  <div class="event_requirements">
    <div class="display_start">
      <%= req_verified? requirement %>
      <div class="pl-5px"><%= requirement.detail.name %></div>
    </div>
    <div><%= t ".deadline" %>: <%= rescue_req_deadline requirement %></div>
  </div>

  <div class="req_description"><%= requirement.detail.description %></div>
  <% requirement.images.new if requirement.images.empty? %>
  <% requirement.images.each do |image| %>
    <%= image_tag(image.file_url, class: "req_img") if image.file? %>
  <% end %>

  <% if can? :upload_image, requirement %>
    <%= form_for requirement, url: user_event_requirement_path(requirement),
      method: :patch, html: {class: "d-flex"} do |f| %>
      <%= f.fields_for :images do |image| %>
        <%= image.label :file, t(".upload"), for: f.hash,
          class: "button button-text" %>
        <%= image.file_field :file, hidden: true, id: f.hash,
          onchange: "this.form.submit();" %>
      <% end %>
    <% end %>
  <% end %>
</div>
