<% raise CanCan::AccessDenied unless can? :read, current_user.find_enroll(@user_event) %>

<%= hidden_field_tag :event_id, @user_event.id %>
<%= hidden_field_tag :leader_id, @user_event.leader_id %>

<div class="content_detail py-0">
  <div class="container">
    <div id="course_info">
      <div class="display_center pt-25">
        <h5><%= link_to @user_event.name, @user_event,
          class: "refactor_link" %></h5>
      </div>

      <hr class="separate_course">

      <div class="d-flex justify-content-between align-items-center">
        <div class="course_feature no-margin">
          <%= user_image_for @user_event.leader, "user_image_small" %>
          <div class="user_title">
            <h6 class="no-margin"><%= @user_event.leader.name %></h6>
          </div>
        </div>
        <h6 class="no-margin">
          <%= t ".partner" %>: <%= @user_event.partner.name %>
        </h6>
        <h6 class="no-margin">
          <%= t ".major" %>: <%= event_major_name @user_event %>
        </h6>
        <%= render "events/enroll_request", user: current_user, event: @user_event %>
      </div>

      <hr class="separate_course">

      <div class="d-flex justify-content-between align-items-center">
        <div><%= fa_icon "calendar" %> <%= t ".date" %>:
          <%= event_date @user_event %></div>
        <div><%= fa_icon "map-o" %> <%= t ".country" %>:
          <%= @user_event.partner.country %></div>
        <div><%= t ".price" %>: <%= number_to_vnd @user_event.price %></div>
        <div><%= fa_icon "calendar-o" %> <%= t ".semester" %>:
          <%= @user_event.semester %></div>
        <div id="event_participants">
          <%= render "event_participants", event: @user_event %>
        </div>
      </div>

      <hr class="separate_course mb-0">
    </div>

    <div class="extend_course_info display_center">
      <%= fa_icon "chevron-up" %>
    </div>

    <div class="event_detail_panel">
      <%= button_tag t(".discussion"), class: "button button-text tab" %>
      <%= button_tag t(".description"), class: "btn button-text-default tab" %>
      <%= button_tag t(".transcript"), class: "btn button-text-default tab" %>
    </div>

    <div class="tab_panels">
      <div class="tab_panel active no-padding">
        <div class="row no-margin fs-09em">
          <div id="participants" class="col-md-3 border_right no-padding">
            <%= render partial: "participant", as: :user, locals: {
              user_event: @user_event, sender: current_user},
              collection: @user_event.participants.where.not(id: current_user) %>
          </div>

          <div id="messages_form" class="col-md-6 border_right no-padding">
            <% if @conversation.persisted? %>
              <%= render "messages/index", conversation: @conversation,
                message: @conversation.messages.new, event: @user_event %>
            <% end %>
          </div>
          <div id="requirement" class="col-md-3 no-padding pl-20">
            <% if @conversation.persisted? %>
              <%= render partial: "requirement",
                collection: requirement_collection(@user_event, @conversation) %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="tab_panel mb-100">
        <%= @user_event.description.html_safe %>
      </div>

      <div id="transcript" class="tab_panel no-padding no-border mb-100">
        <% if rescue_transcript @user_event, @conversation %>
          <%= render "transcripts/show",
            transcript: rescue_transcript(@user_event, @conversation) %>
        <% else %>
          <h3><%= t ".no_transcript" %></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
