<div class="content_detail pt-17">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="course_feature no-margin">
        <%= user_image_for @user_event.leader, "user_image_small" %>
        <div class="user_title">
          <h5 class="no-margin"><%= @user_event.leader.name %></h5>
        </div>
      </div>

      <h5 class="no-margin">
        <%= t ".partner" %>: <%= @user_event.partner.name %>
      </h5>

      <h5 class="no-margin">
        <%= t ".major" %>: <%= event_major_name @user_event %>
      </h5>

      <%= render "events/enroll_request", current_user: current_user, event: @user_event %>
    </div>
    <hr class="separate_course">

    <div class="d-flex justify-content-between align-items-center">
      <div><%= fa_icon "calendar" %> <%= t ".date" %>:
        <%= event_date @user_event %></div>
      <div><%= fa_icon "map-o" %> <%= t ".country" %>:
        <%= @user_event.partner.country %></div>
      <div><%= t ".price" %>: <%= number_to_vnd @user_event.price %></div>
      <div><%= fa_icon "calendar-o" %> <%= t ".semester" %>:
        <%= @user_event.semester %></div>
      <div><%= fa_icon "user-o" %> <%= event_participants @user_event %></div>
    </div>

    <hr class="separate_course">

    <div class="tab_panels">
      <div class="tab_panel active no-padding pr-20">
        <div class="row no-margin fs-09em">
          <div class="col-md-3 border_right no-padding">
            <%= render partial: "participant", as: :user, locals: {user_event: @user_event},
              collection: @user_event.participants.where.not(id: current_user) %>
          </div>

          <% if @conversation.persisted? %>
            <div id="messages_form" class="col-md-6 border_right no-padding px-20">
              <%= render "messages/index", conversation: @conversation,
                message: @conversation.messages.new %>
            </div>
            <div id="requirement" class="col-md-3 no-padding pl-20">
              <%= render partial: "requirement",
                collection: requirement_collection(@conversation) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
