<div class="content_detail pt-17">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="course_feature no-margin">
        <div class="user_image w-51px h-51px"></div>
        <div class="user_title">
          <%= link_to "#" do %>
            <h5 class="no-margin"><%= @user_event.leaders.first.name %></h5>
          <% end %>
        </div>
      </div>

      <h5 class="no-margin">
        <%= t ".partner" %>: <%= @user_event.partner.name %>
      </h5>

      <h5 class="no-margin">
        <%= t ".major" %>: <%= event_major_name @user_event %>
      </h5>

      <%= render "events/enroll_request", current_user: current_user, event: @user_event %>
    </div>
    <hr class="separate_course">

    <div class="d-flex justify-content-between align-items-center">
      <div><%= fa_icon "calendar" %> <%= t ".date" %>:
        <%= event_date @user_event %></div>
      <div><%= fa_icon "map-o" %> <%= t ".country" %>:
        <%= @user_event.partner.country %></div>
      <div><%= t ".price" %>: <%= number_to_vnd @user_event.price %></div>
      <div><%= fa_icon "calendar-o" %> <%= t ".semester" %>:
        <%= @user_event.semester %></div>
      <div><%= fa_icon "user-o" %> <%= event_participants @user_event %></div>
    </div>

    <hr class="separate_course">

    <div class="tab_panels">
      <div class="tab_panel active no-padding px-20">
        <div class="row no-margin fs-09em">
          <div class="col-md-3 border_right no-padding pr-20">
            <% @user_event.users.where.not(id: current_user).each do |user| %>
              <%= form_tag conversations_path(sender_id: current_user,
                receiver_id: user), remote: true do  %>
                <%= button_tag user.name, type: :submit, class: "btn button-text-default" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-6 border_right no-padding px-20">
            <div id="messages_form"></div>
          </div>
          <div class="col-md-3 no-padding pl-20">
            <% @user_event.event_requirements.by(current_user).each do
              |event_requirement| %>

              <div class="border_bottom py-20">
                <%= form_for event_requirement, url: user_event_requirement_path(event_requirement),
                  method: :put do |f| %>
                  <%= hidden_field_tag "user_event_requirement[verified]", !event_requirement.verified? %>
                  <%= f.button do %>
                    <% if event_requirement.verified? %>
                      <%= fa_icon "times", class: "failed" %>
                    <% else %>
                      <%= fa_icon "check", class: "pass" %>
                    <% end %>
                  <% end %>
                <% end %>

                <div class="event_requirements">
                  <div class="display_start">
                    <% if event_requirement.verified? %>
                      <%= fa_icon "check", class: "pass" %>
                    <% else %>
                      <%= fa_icon "times", class: "failed" %>
                    <% end %>
                    <div class="pl-5px">
                      <%= event_requirement.requirement.name %></div>
                  </div>
                  <div><%= t ".deadline" %>:
                    <%= rescue_req_deadline event_requirement %></div>
                </div>
                <div class="req_description">
                  <%= event_requirement.requirement.description %></div>
                <% event_requirement.images.new if event_requirement.images.empty? %>
                <% event_requirement.images.each do |image| %>
                  <%= image_tag(image.file_url) if image.file? %>
                <% end %>
                <%= form_for event_requirement,
                  url: user_event_requirement_path(event_requirement),
                  method: :patch, html: {class: "d-flex"} do |event_requirement| %>
                  <%= event_requirement.fields_for :images do |image| %>
                    <%= image.label :file, t(".choose_file"),
                      class: "btn button-text-default no-margin",
                      for: event_requirement.hash %>
                    <%= image.file_field :file, hidden: true,
                      id: event_requirement.hash %>
                  <% end %>
                  <%= event_requirement.submit t(".upload"), class: "button button-text" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
