<header>
  <div class="row">
    <div class="col header_container">
      <div class="side-nav">
        <div id="sidebarCollapse">
          <%= fa_icon "bars" %>
        </div>

        <%= link_to root_path do %>
          <%= image_tag Settings.assets.images.fpt_logo, class: "logo" %>
        <% end %>
      </div>

      <div class="search-box">
        <%= form_tag searches_path, method: :get, class: "search-form" do  %>
          <%= text_field_tag :q, params[:q], autocomplete: :off, required: true,
            class: "form-control height-24", placeholder: t(".search") %>
          <%= button_tag type: :submit, class: "btn search-btn" do %>
            <%= fa_icon "search" %>
          <% end %>
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-right main-nav">
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle no-after",
            data: {toggle: "dropdown"}, id: "notifications" do %>
            <%= fa_icon "bell" %>
          <% end %>

          <ul id="notifications_list" class="dropdown-menu no-padding">
            <%= render "notifications/index",
              notifications: current_user.notifications %>
          </ul>
        </li>

        <li class="dropdown"><%= link_to "#", class: "dropdown-toggle no-after",
          data: {toggle: "dropdown"} do %>
            <%= user_image_for current_user, "user_image_header" %>
          <% end %>

          <ul id="options_list" class="dropdown-menu no-padding">
            <li><span class="user_name"><%= current_user.name %></span></li>
            <% if can?(:access, :rails_admin) && can?(:dashboard, :all) %>
              <li>
                <%= link_to t(".manage_page"), rails_admin.dashboard_path %>
              </li>
            <% end %>
            <li><%= link_to t(".profile"), user_path(current_user) %></li>
            <hr class="no-margin"/>
            <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
