<header>
  <div class="row">
    <div class="col header_container">
      <div class="side-nav">
        <div id="sidebarCollapse">
          <%= fa_icon "bars" %>
        </div>

        <%= link_to root_path do %>
          <%= image_tag Settings.assets.images.fpt_logo, class: "logo" %>
        <% end %>
      </div>

      <div class="search-box">
        <form class="search-form">
          <input class="form-control height-24" placeholder="<%= t ".search_anything" %>" type="text">
          <button class="btn btn-link search-btn">
            <%= fa_icon "search" %>
          </button>
        </form>
      </div>

      <ul class="nav navbar-nav navbar-right main-nav">
        <li><%= link_to t(".ic_staffs"), "#", class: "child" %></li>
        <li><%= link_to t(".international_partners"), "#", class: "child" %></li>
        <li><%= link_to t(".about"), "#", class: "child" %></li>
        <li><%= fa_icon "bell" %></li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle no-after", data: {toggle: "dropdown"} do %>
            <%= fa_icon "user-circle" %>
          <% end %>

          <ul class="dropdown-menu no-padding">
            <% if current_user.Admin? || current_user.Manager? %>
              <li>
                <%= link_to t(".manage_page"), rails_admin.dashboard_path %>
              </li>
            <% end %>
            <li><%= link_to t(".profile"), user_path(id: current_user.id) %></li>
            <hr class="no-margin"/>
            <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
