<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.application.title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "layouts/header" %>
      <%= render "layouts/sidebar" %>
    <% end %>

    <div class="<%= "#{devise_controller? ? "" : "content"}" %>">
      <%= yield %>
    </div>

    <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </body>

  <% flash.each do |type, text| %>
    <%= javascript_tag "noty('#{text}', '#{check_noty_type type}');" %>
  <% end %>
</html>
